@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

/* ----------------------- Navbar ----------------------- */

.box-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    border-bottom: 2px solid rgb(209, 209, 209);
}

.box-logo-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    width: 20%;
    height: 80%;
}

.link-logo-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.logo-navbar {
    color: black;
    font-size: 2.5vmin;
    transition: 1s;
}

.logo-navbar:hover {
    font-weight: 900;
    color: rgb(0, 153, 255);
}

.img-logo-navbar {
    width: 100%;
    height: 100%;
}

.box-itens-navbar {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5%;
    align-items: center;
}

.item-navbar {
    font-size: 2vmin;
    color: black;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    text-align: center;
}

.item-navbar:hover {
    background-color: rgb(0, 132, 255);
    color: white;
}

/* ----------------------- Main ----------------------- */

.box-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    /*border: 5px solid red;*/
}

.title {
    width: 95%;
    /*border: 5px solid green;*/
    font-weight: 800;
}

.box-projects {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.card-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    padding: 10px;
    box-shadow: 0px 0px 100px 0px rgb(218, 218, 218);
    border-radius: 5px;
    transition: 0.2s;
    /*border: 5px solid blue;*/
}

.card-project:hover {
    border-left: 5px solid rgb(0, 132, 255);
}

.img-project {
    height: 200px;
    width: 95%;
    /*border: 5px solid black;*/
    background: linear-gradient(to left, blue, rgb(0, 217, 255));
    border-radius: 5px;
    border: none;
}

.title-project-card {
    width: 95%;
    font-size: 3vmin;
    color: black;
    font-weight: 400;
    /*border: 5px solid green;*/
}

.txt-project-card {
    width: 95%;
    font-size: 2vmin;
    color: black;
}

/* ----------------------- @media ----------------------- */

@media (max-width : 600px) {
    .box-projects {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .card-project {
        width: 90%;
        height: 80%;
    }
}